/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.6;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: #ffffff;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
}

.aligned-text_left {
  padding: 165px 50px 0px 50px;
}

.aligned-text_center {
  padding: 17px 0px 17px 30px;
  text-align: center;
}

.aligned-text_right {
  padding: 0px 20px 106px 0px;
  text-align: end;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 50px 50px;
}

.cover__description-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.letter-spacing-extended {
  letter-spacing: -0.2px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 11px 32px 12px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.lots__heading {
  display: block;
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  padding-bottom: 0px;
  font-size: 20px;
  text-decoration: none;
}

.lots__look-more-link {
  display: inline-block;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0px 24px;
}

.about__column {
  justify-self: center;
  padding-top: 34px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000000;
  background-size: cover;
}

.about__logo-image {
  width: 240px;
  height: 240px;
  padding: 63px 46px;
}
.about__title {
  padding: 101px 0px 100px 0px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 3px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 180px 50px 82px 50px;
}

.footer .address {
  justify-self: start;
  max-width: 245px;
}

.footer__menu {
  justify-self: center;
}
.footer__menu-list {
  font-size: 18px;
  list-style: none;
}
.footer__menu-list-item {
  text-align: center;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  justify-self: end;
  align-items: start;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
